@media only screen and (min-width:980px){
    body{
        margin:0;
        overflow-x:hidden;
        font-family: 'Noto Sans TC';
    }
    .homepage_banner{
        position:relative;
        background:url("material/banner.jpg");
        display: inline-block;
        width:100vw;
        height:6.25vw;
        left:0;
        top:0;
    }

    #homepage_banner_logo{
        position:relative;
        background:url("material/logo1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.18vw;
        height:5vw;
        left: 3vw;
        top: 0.625vw;
    }

    #homepage_banner_title{
        position:relative;
        display: inline-block;
        left:5vw;
        top: -1vw;
        font-size: 3vw;
    }

    #homepage_upperphoto{
        position:relative;
        background:url("material/homepage/upperphoto.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:100vw;
        height:27.4vw;
        left:0;
    }

    .homepage_middle_option{
        position:relative;
        display: inline-block;
        width:100vw;
        left:0;
        min-height: 120vw;
    }

    #homepage_middle_sync{
        position:relative;
        background:url("material/homepage/sync.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.5vw;
        height:14.79vw;
    }

    #homepage_middle_async{
        position:relative;
        background:url("material/homepage/async.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.5vw;
        height:14.79vw;
    }

    #homepage_middle_quiz{
        position:relative;
        background:url("material/homepage/quiz.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.5vw;
        height:14.79vw;
    }

    #homepage_middle_resources{
        position:relative;
        background:url("material/homepage/resources.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:24.5vw;
        height:14.79vw;
    }

    .homepage_footer{
        position:relative;
        background-color:#f6f6f6;
        display: inline-block;
        width:100vw;
        height:7.8125vw;
    }

    #homepage_footer_logo{
        position:relative;
        background:url("material/logo2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:20vw;
        height:3.97vw;
        left:5vw;
        top: 0.3vw;
    }

    #homepage_footer_signature{
        position:relative;
        display: inline-block;
        font-size: 1.1vw;
        left:7vw;
        top:1vw;
    }


}


@media only screen and (max-width:979px){
    body{
        margin:0;
        overflow-x:hidden;
        font-family: 'Noto Sans TC';
    }
    .homepage_banner{
        background:url("material/banner.jpg");
        display: inline-block;
        position:absolute;
        top:0;
        left:0;
        height:10vw;
        width:100vw;
        z-index: 2;
    }

    #homepage_banner_logo{
        position:relative;
        background:url("material/logo2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        top:2vw;
        left:3vw;
        height:6vw;
        width:27.48vw;
    }

    #homepage_banner_title{
        position:relative;
        display: inline-block;
        left:5vw;
        top: 0.75vw;
        font-size: 5vw;
    }

    #homepage_upperphoto{
        position:relative;
        background:url("material/homepage/upperphoto.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:100vw;
        height:27vw;
        left:0;
    }

    .homepage_middle_option{
        position:relative;
        display: inline-block;
        width:100vw;
        left:0;
    }

    #homepage_middle_sync{
        position:relative;
        background:url("material/homepage/RWD_sync.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:100vw;
        height:21.3vw;
    }

    #homepage_middle_async{
        position:relative;
        background:url("material/homepage/RWD_async.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:100vw;
        height:21.3vw;
    }

    #homepage_middle_quiz{
        position:relative;
        background:url("material/homepage/RWD_quiz.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:100vw;
        height:21.3vw;
    }

    #homepage_middle_resources{
        position:relative;
        background:url("material/homepage/RWD_resources.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width:100vw;
        height:21.3vw;
    }

    .homepage_footer{
        position:relative;
        background-color:#f6f6f6;
        display: inline-block;
        width:100vw;
    }

    #homepage_footer_logo{
        display: none;
    }

    #homepage_footer_signature{
        position:relative;
        display: inline-block;
        font-size: 4vw;
        left: 3vw;
        top: 0vw
    }
}
